.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-height: 100vh;
    width: 100%;
  }
  
  .back {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    position: absolute;
    display: flex;
    align-items: center;
    gap: 1rem;
    top: 7%;
    left: 7%;
  }

  .imageArrowLeft {
    width: 1.4rem;
  }

  .title {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to bottom, #37e1ff 10%, #ffffff 90%);
    margin-bottom: 1rem;
    margin-top: 1.5rem;
  }
  
  .form {
    border: .1rem solid #a7a7a73c;
    border-radius: .5rem;
    box-shadow: .1rem .1rem .4rem #0000009c;
    background-color: #06466324;
    margin-bottom: 1rem;
    padding: 2rem;
    gap: .5rem;
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  
  .label {
    color: #fff;
  }
  
  .input {
    outline: none;
    color: #fff;
    background-color: #06466324;
    border: .1rem solid #bfbfbf63;
    border-radius: .5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    max-height: 10rem;
    min-width: 100%;
  } .input::placeholder {
    color: #fff;
  }
  
  .textArea {
    outline: none;
    color: #fff;
    background-color: #06466324;
    border: .1rem solid #bfbfbf63;
    border-radius: .5rem;
    padding: .5rem;
    margin-bottom: 1.3rem;
    height: 6rem;
    max-height: 10rem;
    min-width: 100%;
  } .textArea::placeholder {
    color: #fff;
  }
  
  .buttonsDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 3rem;
  }
  
  .button {
    border: none;
    font-size: .9rem;
    background-color: #0646637d;
    padding: .75rem 3rem;
    border-radius: .5rem;
    box-shadow: .1rem .1rem .2rem #0000006b;
    color: #FFD369;
    font-weight: bold;
    transition: .4s;
  } .button:hover {
    background-color: #ba8234;
    color: #000;
  }
  
  .buttonWpp {
    display: flex;
    align-items: center;
    text-decoration: none;
    background-color: #0646637d;
    box-shadow: .1rem .1rem .2rem #0000006b;
    font-weight: bold;
    border: none;
    border-radius: .5rem;
    padding: .2rem 1rem;
    transition: .4s;
  } .buttonWpp:hover {
    background-color: #ba8234;
  }
  
  .imageWpp {
    width: 1.2rem;
  }
  
  .confirmContainer {
    position: absolute;
    top: 7%;
    transition: .4s;
  }

@media (max-width: 800px) {
  .title {
    margin-top: 1rem;
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    text-align: center;
  }
  .form {
    padding: 1rem;
    width: 80%;
  }
  .buttonsDiv {
    width: 100%;
    gap: 2rem;
    padding-left: 0;
  }
}