.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.mainImage {
  width: 10rem;
  height: 10rem;
}

.imageRedes {
  width: 2rem;
  height: 2rem;
}