@keyframes cardAnimation {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  align-items: center;
  height: 100vh;
  max-width: 100vw;
  background: linear-gradient(112deg, #000000e3 40%, #1e2144 70%);
  animation: cardAnimation 5s linear infinite;
}

.SectionMainImage {
  width: 70%;
  height: 10rem;
  background: linear-gradient(124deg,#262A56 20%, #171414 80%);
  border-radius: 1rem;
  box-shadow: .1rem .1rem 4rem #182278da;
  overflow: hidden;
}

.imagecontent {
  display: flex;
  position: absolute;
}

.mainImage {
  width: 10rem;
  height: 10rem;
}

.textMainContent {
  position: absolute;
  left: 15rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.textmain {
  font-size: 2.5rem;
  font-weight: bold;
  color: #ffff;
  font-style: italic;
  text-shadow: .1rem .1rem .3rem #000000b0;
}

.myName {
  margin: 2rem 0 1rem 0;
  background-image: linear-gradient(to left, #6e88c9 20%, #313994 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.SectionRedes {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}

.mySkill {
  color: #fff;
}

.redes {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: .5rem;
}

.imageRedes {
  border-radius: .5rem;
  width: 2.5rem;
  height: 2.5rem;
  box-shadow: .1rem .1rem .5rem #000000b3;
}

.sectionEmail {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  gap: 1rem;
  background: linear-gradient(124deg,#30303175 20%, #171414a1 80%);
  border-radius: .5rem;
  box-shadow: .2rem .2rem .8rem #00000097;
}

.textEmailContent {
  background-image: linear-gradient(to left, #27489b 40%, #7f7fb2 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.textEmail {
  color: #dddd;
  font-weight: bold;
}


.imageGmail {
  width: 4rem;
  height: 4rem;
}

.sectionYureWeb {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  gap: 1rem;
  background: linear-gradient(124deg,#30303175 20%, #171414a1 80%);
  border-radius: .5rem;
  box-shadow: .2rem .2rem .8rem  #00000097;
}

.linkYureWeb {
  background-image: linear-gradient(to left, #27489b 40%, #7f7fb2 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  font-weight: bold;
}

.sectionSetup {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  gap: 1rem;
  background: linear-gradient(124deg,#30303175 20%, #171414a1 80%);
  border-radius: .5rem;
  box-shadow: .2rem .2rem .8rem  #0000009f;
}


/* ANIMAÇÕES */
