.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  padding: 2rem;
  gap: 10%;
}

.sectionBanner {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner {
  display: flex;
  flex-wrap: nowrap;
  width: 60%;
  min-height: 10rem;
  background: linear-gradient(124deg,#319ee7d1 1%, #3130302d 70%);
  border-radius: 1rem;
  box-shadow: -2rem .2rem 10rem #2190ff34;
  overflow: hidden;
}

.imageBanner {
  position: relative;
  z-index: 2;
  width: 10rem;
  height: 10rem;
}

.contentTextBanner {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 2rem;
  width: 100%;
}

.textBanner {
  font-size: 2.6rem;
  font-weight: bold;
  color: #fafafa;
  font-style: italic;
  text-shadow: .2rem .2rem .5rem #000000cb;
}

.descriptionName {
  text-align: center;
  margin: 2rem 0;
  background-image: linear-gradient(to bottom, #37e1ff 10%, #ffffff 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.descriptionSlog {
  color: #fff;
}




/* ------ COLUNA 2 ------- */

.SectionRedes {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 80%;
  gap: 2rem;
  padding: 1rem;
}

.redes {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: .5rem;
}

.imageRedes {
  border-radius: .5rem;
  width: 2.5rem;
  height: 2.5rem;
  box-shadow: .1rem .1rem .5rem #000000b3;
}

.sectionEmail {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  gap: 1rem;
  background: linear-gradient(124deg,#30303175 20%, #171414a1 80%);
  border-radius: .5rem;
  box-shadow: .2rem .2rem .8rem #00000097;
}

.textEmailContent {
  background-image: linear-gradient(to left, #27489b 40%, #7f7fb2 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.textEmail {
  color: #dddd;
  font-weight: bold;
}

.imageGmail {
  width: 4rem;
  height: 4rem;
}

.sectionYureWeb {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  gap: 1rem;
  background: linear-gradient(124deg,#30303175 20%, #171414a1 80%);
  border-radius: .5rem;
  box-shadow: .2rem .2rem .8rem  #00000097;
}

.linkYureWeb {
  background-image: linear-gradient(to left, #27489b 40%, #7f7fb2 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  font-weight: bold;
}

.sectionSetup {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  gap: 1rem;
  background: linear-gradient(124deg,#30303175 20%, #171414a1 80%);
  border-radius: .5rem;
  box-shadow: .2rem .2rem .8rem  #0000009f;
}


@media (max-width: 1000px) {
  .container {
    flex-direction: column;
    height: 100%;
    gap: 0;
  }
  .sectionBanner {
    width: 100%;
  }
}

@media (max-width: 720px) {
  .container {
    padding: 1rem 0;
  }
  .descriptionName {
    margin: 1.5rem 0 1rem 0;
  }
  .SectionRedes {
    width: 98%;
    gap: 1rem;
  }
  .sectionYureWeb, .sectionSetup {
    width: 100%;
    text-align: center;
  }
  .banner {
    width: 87%;
  }
  .sectionEmail {
    width: 100%;
    gap: .2rem;
  }
}